.bigContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-class {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(1, 90, 35);
}

.form-class label {
    color: white;
    font-size: 25px;
}

.input-author {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
    color: white;
}

.input-author:focus {
    outline: none;
}

.submit-button {
    background: rgb(1, 90, 35);
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.input-area {
    color: white;
    background: rgb(29, 90, 52);
}

.input-area:focus {
    outline: none;
}